*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
}

h1,
h2,
h3,
h4,
.sub-title {
    font-family: "Lato";
}

a {
    color: black;
    text-decoration: none;
}

.main-header {
    padding: 1rem 2rem;
}

.logo {
    width: 15rem;
}

.main-navigation ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    margin-bottom: 3rem;
}

.hero__img img {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

.hero__text {
    background-color: rgb(245, 245, 245);
    padding: 1rem 2rem;
}

.title {
    font-size: 2.5rem;
}

.sub-title {
    font-size: 1.5rem;
    line-height: 1.6;
}

.colored-box {
    background-color: rgb(232, 166, 182);
    padding: 3.5rem 2rem;
    text-align: center;
}

.colored-box p {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.button-link {
    border: 3px solid black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 700;
}

article {
    border: 2px solid black;
    border-radius: 10px;
    margin: 2rem 0;
}

.image-container img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.text-container {
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .main-header {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 15rem;
    }

    .main-navigation {
        flex-grow: 1;
    }

    .main-navigation ul {
        justify-content: center;
        gap: 2rem;
    }

    .hero {
        position: relative;
    }

    .hero__text {
        background-color: unset;
        color: white;
        width: 75%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .boxes {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    article {
        width: 35%;
    }

    .image-container img {
        margin-top: 10px;
        margin-left: -10px;
        position: relative;
        z-index: -1;
    }
}
